.forgetBox{
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-weight: 800;
    font-size: 25px;
    color: #3a4486;
    width: 400px;
    margin-top: -50px;
    background-color: #ffffffcc;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.FoegetPasswordPage{
    min-width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../picture/login_background.jpg);
    -moz-background-size:100% 100%; background-size:100% 100%;
}
.FGinput{

}

.FG-form-button{
    background-color: #555fa3;
    border: 0px;
}