.page-1{
  height: 100vh;
  display: flex;
}

.left-menu{
  width: 20%;
  height: 100%;
  background-color: red;
  overflow-y:scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test{
  flex-shrink: 0;
  margin-top: 20px;
  height: 300px !important;
  width: 80%;
  background-color: #F5F5F5;
}

.right-part{
  height: 100%;
  background-color: blue;
  width: 80%;
}

.top-bar{
  height: 10%;
  background-color: green;
  width: 100%;
}

/* 滚动条相关设置 */
::-webkit-scrollbar { 
  width:5px; 
  height:20px; 
  background-color:#F5F5F5; 
}
/* 滑块 */
::-webkit-scrollbar-thumb { 
  background-color: black; 
  border-radius: 50px;
}